body, html {
    height: 100%;
}

.logo {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 15vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center;
}

.subtext {
    font-size: 27px;
    color: #aba8a8;
    position: relative;
    top: -20px;
    display: block;
}

.row.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .logo {
        padding: 10vh;
        font-size: 48px;
    }

    .subtext {
        font-size: 18px;
    }

    .btn {
        padding: 10px 20px;
    }
}

.icon-button {
    background-color: transparent;
    color: #005b9f;
    border: none;
    font-size: 24px;
    margin: 10px;
}

.icon-button:hover {
    color: #004080;
}

.social-buttons {
    margin-top: 10px;
}

.login-with {
    font-size: 24px;
    color: #121212;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-with span {
    padding: 0 10px;
}

.login-with::before,
.login-with::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #aba8a8;
    margin: 0 10px;
}

.icon-button {
    background-color: transparent;
    color: #005b9f;
    border: none;
    font-size: 24px;
    margin: 10px;
}

.icon-button:hover {
    color: #004080;
}

.social-buttons {
    margin-top: 10px;
}

.floating-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 20px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        right: 20px;
        opacity: 1;
    }
    to {
        right: -300px;
        opacity: 0;
    }
}

.floating-message.show {
    display: block;
    animation: slideIn 0.5s forwards;
}

.floating-message.hide {
    animation: fadeOut 0.5s forwards;
}