<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Events</title>
    <link href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/event.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="container mt-3">
    <h1>My Events</h1>
    <div class="row">
        <div class="col-md-6" th:each="event : ${events}">
            <div th:replace="~{event :: event-card(${event}, ${eventsTags[event]}, ${eventsPictures[event]})}"></div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>