<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login Page</title>
    <link href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="floating-message" id="floatingMessage"></div>
<div class="container">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="logo">
                <span style="font-size: 96px; color: #005b9f">MEET</span><span style="font-size: 96px; color: #000000">IS</span>
                <span class="subtext">by 6beans</span>
                <div class="login-with">
                    <span>Login with</span>
                </div>
                <div class="social-buttons">
                    <button class="btn icon-button"><i class="fab fa-vk"></i></button>
                    <a class="btn icon-button" th:href="@{/oauth2/authorization/google}">
                        <i class="fab fa-google"></i>
                    </a>
                    <button class="btn icon-button"><i class="fab fa-github"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>